{{#partial "contenido"}}
	

   <form action="/validar/egreso" method="post">
   
   <input name="egreso" type="text" class="form-control" placeholder="Ingrese ID Compra *" value="" />
   <p>&nbsp;</p>
<button type="submit"  class="btn btn-primary btn-sm">Resultado Compra</button>
	</form>
	
	
{{/partial}}

{{>layout.hbs}}
